/build/
/output/
/release-stage/
/.venv/
/node_modules/
*.log
*.aux
*.toc
*.out
/upstream/*
!/upstream/LICENSE.md
!/upstream/README.md
!/upstream/content/
!/upstream/assets/
/upstream/assets/*
!/upstream/assets/diagrams/
/upstream/assets/diagrams/*
!/upstream/assets/diagrams/union.tikz
!/upstream/assets/diagrams/intersection.tikz
!/upstream/assets/diagrams/difference.tikz
